# Cleaning Data Exercises

In this exercise, we'll be returning to the American Community Survey data we used previously to measuring racial income inequality in the United States. In today's exercise, we'll be using it to measure the returns to education and how those returns vary by race and gender.


## Gradescope Autograding

Please follow [all standard guidance](https://www.practicaldatascience.org/html/autograder_guidelines.html) for submitting this assignment to the Gradescope autograder, including storing your solutions in a dictionary called `results` and ensuring your notebook runs from the start to completion without any errors.

For this assignment, please name your file `exercise_missing.ipynb` before uploading.

You can check that you have answers for all questions in your `results` dictionary with this code:

```python
assert set(results.keys()) == {
    "ex5_age_young",
    "ex5_age_old",
    "ex7_avg_age",
    "ex8_avg_age",
    "ex9_num_college",
    "ex11_share_male_w_degrees",
    "ex11_share_female_w_degrees",
    "ex12_comparing",
}
```


### Submission Limits

Please remember that you are **only allowed three submissions to the autograder.** Your last submission (if you submit 3 or fewer times), or your third submission (if you submit more than 3 times) will determine your grade Submissions that error out will **not** count against this total.

In [1]:
import numpy as np
import pandas as pd

pd.set_option("mode.copy_on_write", True)

results = {}

c:\Users\kbagh\miniconda3\Lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\kbagh\miniconda3\Lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
c:\Users\kbagh\miniconda3\Lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-246-g3d31191b-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

## Exercises

### Exercise 1

For these cleaning exercises, we'll return to the ACS data we've used before one last time. We'll be working with `US_ACS_2017_10pct_sample.dta`. Import the data (please use url for the autograder).

In [2]:
df = pd.read_stata(
    "https://github.com/nickeubank/MIDS_Data/raw/master/US_AmericanCommunitySurvey/US_ACS_2017_10pct_sample.dta"
)
df

,year,datanum,serial,cbserial,numprec,subsamp,hhwt,hhtype,cluster,adjust,...,migcounty1,migmet131,vetdisab,diffrem,diffphys,diffmob,diffcare,diffsens,diffeye,diffhear
0,2017,1,177686,2.017001e+12,9,64,55,"female householder, no husband present",2.017002e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
1,2017,1,1200045,2.017001e+12,6,79,25,"male householder, no wife present",2.017012e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
2,2017,1,70831,2.017000e+12,1 person record,36,57,"male householder, living alone",2.017001e+12,1.011189,...,0,not in identifiable area,n/a,has cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
3,2017,1,557128,2.017001e+12,2,10,98,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
4,2017,1,614890,2.017001e+12,4,96,54,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318999,2017,1,734396,2.017001e+12,4,78,100,married-couple family household,2.017007e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
319000,2017,1,586263,2.017001e+12,4,57,77,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
319001,2017,1,510444,2.017001e+12,2,43,152,"female householder, no husband present",2.017005e+12,1.011189,...,0,not in identifiable area,n/a,has cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
319002,2017,1,1220474,2.017001e+12,4,16,148,married-couple family household,2.017012e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
319003,2017,1,219435,2.017000e+12,2,17,47,married-couple family household,2.017002e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no

### Exercise 2

For our exercises today, we'll focus on `age`, `sex`, `educ` (education), and `inctot` (total income). Subset your data to those variables, and quickly look at a sample of 10 rows.

In [3]:
df = df[["age", "sex", "educ", "inctot"]]
print("The following below is a random sample of 10 rows")
df.sample(10)

The following below is a random sample of 10 rows

                         age     sex                 educ   inctot
295813                    22    male             grade 12        0
229521                    33  female   2 years of college    23000
9794                      79  female             grade 12    21200
192982                    34  female  5+ years of college    34500
35769                     35  female             grade 12    15000
189578  less than 1 year old    male  n/a or no schooling  9999999
151529                    56  female             grade 12    45000
213741                    52  female             grade 12     8000
209589                    22    male   4 years of college    15000
231154                    31  female   4 years of college    65000

### Exercise 3

As before, all the values of `9999999` have the potential to cause us real problems, so replace all the values of `inctot` that are `9999999` with `np.nan`.

In [22]:
df = df.replace({"inctot": 9999999}, np.nan)
print("The following is the dataframe with all the 9999999 values turned to NaN")
df

The following is the dataframe with all the 9999999 values turned to NaN

        age     sex                       educ    inctot  college_degree
0         4  female  nursery school to grade 4       NaN           False
1        17  female                   grade 11    6000.0           False
2        63    male         4 years of college    6150.0            True
3        66  female                   grade 12   14000.0           False
4         1    male        n/a or no schooling       NaN           False
...     ...     ...                        ...       ...             ...
318999   33  female         4 years of college   22130.0            True
319000    4  female  nursery school to grade 4       NaN           False
319001   20    male                   grade 12    5000.0           False
319002   47    male        5+ years of college  240000.0            True
319003   33    male        5+ years of college   48000.0            True

[319004 rows x 5 columns]

### Exercise 4

Attempt to calculate the average age of people in our data. What do you get? Why are you getting that error?

You *should* get an error in trying to answer this question, but **PLEASE LEAVE THE CODE THAT GENERATES THIS ERROR COMMENTED OUT SO YOUR NOTEBOOK WILL RUN IN THE AUTOGRADER**. 

Then talk about the error in a markdown cell.

In [23]:
# df["age"].mean()

The error I got was the following ```TypeError: 'Categorical' with dtype category does not support reduction mean```

The reason is clearly that there is some variable within the age column that is not a numeric number. This means more data exploration is necessary

### Exercise 5

We want to be able to calculate things using age, so we need it to be a numeric type. Check the current type of `age`, and look at all the values of `age` to figure out why it's categorical and not numeric. You should find two problematic categories. Store the values of these categories in `"ex5_age_young"` and `"ex5_age_old"` (once you find them, it should be clear which is which).

In [24]:
print(
    "The following is all the values in age, and the total dtype. We can see there are 2 categories that are strings, representing very old and very young"
)
df["age"].dtype

The following is all the values in age, and the total dtype. We can see there are 2 categories that are strings, representing very old and very young

dtype('int64')

In [25]:
results["ex5_age_young"] = "less than 1 year old"
results["ex5_age_old"] = "90 (90+ in 1980 and 1990)"

### Exercise 6

In order to convert `age` into a numeric variable, we need to replace those problematic entries with values that `pandas` can later convert into numbers. Pick appropriate substitutions for the existing values and replace the current values. 

**Hint 1:** Categorical variables act like strings, so you might want to use string methods! 

**Hint 2:** Remember that characters like parentheses, pluses, asterisks, etc. are special in Python strings, and you have to escape them if you want them to be interpreted literally!

**Hint 3:** Because the US Census has been conducted regularly for hundreds of years but exactly how the census has been conducted have occasionally changed, variables are sometimes coded in a way that might be interpreted in different ways for different census years. For example, hypothetically, one might write `90 (90+ in 1980 and 1990)` if the Censuses conducted in 1980 and 1990 used to top-code age at 90 (any values *over* 90 were just coded as 90), but more recent Censuses no longer top-coded age and recorded ages over 90 as the respondents actual age.

In [26]:
df["age"] = df["age"].replace("90 (90+ in 1980 and 1990)", 90)
df["age"] = df["age"].replace("less than 1 year old", 0)
df["age"].dtype

dtype('int64')

### Exercise 7

Now convert age from a categorical to numeric. Calculate the average age amoung this group, and store it in `"ex7_avg_age"`.

In [28]:
df["age"] = pd.to_numeric(df["age"])
results["ex7_avg_age"] = df["age"].mean()
the_mean = results["ex7_avg_age"]

print(f"The average of the age column is {the_mean}\n\n")

The average of the age column is 41.30384885455982

### Exercise 8

Let's now filter out anyone in our data whose age is less than 18. Note that before made `age` a numeric variable, we couldn't do this! Again, calculate the average age and this time store it in `"ex8_avg_age"`. 

Use this sample of people 18 and over for all subsequent exercises.

In [31]:
small_age = df[df["age"] >= 18]
results["ex8_avg_age"] = small_age["age"].mean()
the_mean = results["ex8_avg_age"]

print(
    f"The average of the age column, with the age column filtering out those younger than 18, is {the_mean}\n\n"
)

The average of the age column, with the age column filtering out those younger than 18, is 49.75769659413359

### Exercise 9

Create an indicator variable for whether each person has *at least* a college Bachelor's degree called `college_degree`. Use this variable to calculate the number of people in the dataset with a college degree. You may assume that to get a college degree you need to complete at least 4 years of college. Save the result as `"ex9_num_college"`.

In [47]:
small_age["educ"].value_counts()
small_age["college_degree"] = small_age["educ"].isin(
    ["4 years of college", "5+ years of college"]
)
results["ex9_num_college"] = small_age["college_degree"].sum()
all_degrees = small_age["college_degree"].sum()

print(f"The number of people with at least a college degrees is {all_degrees}\n\n")

The number of people with at least a college degrees is 77013

### Exercise 10

Let's examine how the educational gender gap. Use `pd.crosstab` to create a cross-tabulation of `sex` and `college_degree`. `pd.crosstab` will give you the number of people who have each combination of `sex` and `college_degree` (so in this case, it will give us a 2x2 table with Male and Female as rows, and `college_degree` True and False as columns, or vice versa.

In [49]:
small_age["college_degree"].value_counts()

college_degree
False    176021
True      77013
Name: count, dtype: int64

In [50]:
sex_degree = pd.crosstab(small_age["sex"], small_age["college_degree"])
print(
    "The following below is the cross-tabulation between both college degree values and sex"
)
pd.crosstab(small_age["sex"], small_age["college_degree"])

The following below is the cross-tabulation between both college degree values and sex

college_degree  False  True
sex
male            85821  36181
female          90200  40832

### Exercise 11

Counts are kind of hard to interpret. `pd.crosstab` can also normalize values to give percentages. Look at the `pd.crosstab` help file to figure out how to normalize the values in the table. Normalize them so that you get the share of men with and without college degree, and the share of women with and without college degrees.

Store the share (between 0 and 1) of men with college degrees in `"ex11_share_male_w_degrees"`, and the share of women with degrees in `"ex11_share_female_w_degrees"`.

In [55]:
sex_degree = pd.crosstab(
    small_age["sex"], small_age["college_degree"], normalize="index"
)
results["ex11_share_male_w_degrees"] = sex_degree.loc["male"][1]
results["ex11_share_female_w_degrees"] = sex_degree.loc["female"][1]
sex_degree

C:\Users\kbagh\AppData\Local\Temp\ipykernel_9864\3243536533.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  results["ex11_share_male_w_degrees"] = sex_degree.loc["male"][1]
C:\Users\kbagh\AppData\Local\Temp\ipykernel_9864\3243536533.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  results["ex11_share_female_w_degrees"] = sex_degree.loc["female"][1]

college_degree     False     True
sex
male            0.703439  0.296561
female          0.688381  0.311619

As we see above, the share of males with a degree is 14.29% of the totoal population and females with a degree is 16.13%

### Exercise 12

Now, let's recreate that table for people who are 40 and over and people under 40. Over time, what does this suggest about the absolute difference in the share of men and women earning college degrees? Has it gotten larger, stayed the same, or gotten smaller? Store your answer (either `"the absolute difference has increased"` or `"the absolute difference has decreased"`) in `"ex12_comparing"`.

In [56]:
old_people = small_age[small_age["age"] >= 40]
print("The following is the table but for people who are 40 or older")
pd.crosstab(old_people["sex"], old_people["college_degree"], normalize="index")

The following is the table but for people who are 40 or older

college_degree     False     True
sex
male            0.682123  0.317877
female          0.699144  0.300856

In [57]:
young_people = small_age[small_age["age"] < 40]
print("The following is the table but for people who are 40 or younger")
pd.crosstab(young_people["sex"], young_people["college_degree"], normalize="index")

The following is the table but for people who are 40 or younger

college_degree     False     True
sex
male            0.743143  0.256857
female          0.665710  0.334290

In [58]:
results["ex12_comparing"] = "the absolute difference has increased"

### Exercise 13

In words, what is causing the change noted in Exercise 12 (i.e., looking at the tables above, tell me a story about Men and Women's College attainment).

I believe that over time, men and women are both more likely to get a college degree. I believe this because the percentage of both men and women increase relative from 40 years and older and younger. But, overall, women are more likely to get a degree.

As well, it seems that when younger, more women get college degrees than men. This could be for a variety of reasons, such as whether men couldn't afford it when younger, had to do something before getting a college degree, or even chose to never pursue one. But, as they grow older, whatever prevented men from getting their degree seems to no longer be an issue, allowing them to pursue their college degree. With an influx of men getting their degree, the playing field of women compared to men with college degrees' evens out.

## Want More Practice?

Calculate the educational racial gap in the United States for White Americans, Black Americans, Hispanic Americans, and other groups. 

Note that to do these calculations, you'll have to deal with the fact that unlike most Americans, the American Census Bureau treats "Hispanic" not as a racial category, but a linguistic one. As a result, the racial category "White" in `race` actually includes most Hispanic Americans. For this analysis, we wish to work with the mutually exclusive categories of "White, non-Hispanic", "White, Hispanic", "Black (Hispanic or non-Hispanic)", and a category for everyone else.